<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../resources/css/lib/default.css">
    <!-- <link rel="stylesheet" href="../resources/css/lib/new_renewal.css"> -->

    <script type="text/javascript" src="../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../resources/js/lib/default.js"></script>
    <!-- <script type="text/javascript" src="../resources/js/lib/ui.js"></script> -->
</head>
<style>
    /* 스타일은 가져가는 거 아님 */
    .guide { background-color:#C9C9C9 ; }
    .guide > h2 {padding: 25px 10px 10px; font-weight: 500; font-size: 1rem;}
    .relative { position: relative; background-color: #ffffff; }/*가져갈 때 클래스 빼서 가져가기*/
</style>

<body>
    <div class="wrap">
        <!-- //header -->
        <div class="guide">
            <h2>· 좌측 - 이전버튼 / 로고 / 우측 - 메뉴버튼</h2>
            <header id="lnb" class="relative">
                <a href="javascript:void(0);" onclick="" class="btn_prev">이전</a>
                <h1>
                    <a href="">
                        <img src="../resources/images/common/logo.png" alt="로고">
                    </a>
                </h1>
                <a href="javascript:void(0)" class="btn_menu">메뉴</a>
            </header>
            <h2>· 좌측 - 없음  / 로고 / 우측 - 메뉴버튼</h2>
            <header id="lnb" class="relative">
                <!-- <a href="javascript:void(0);" onclick="" class="btn_prev">이전</a> -->
                <h1>
                    <a href="">
                        <img src="../resources/images/common/logo.png" alt="로고">
                    </a>
                </h1>
                <a href="javascript:void(0)" class="btn_menu">메뉴</a>
            </header>
            <h2>· 좌측 - 없음 / 우측 - reset</h2>
            <header id="lnb" class="relative">
                <!-- <a href="javascript:void(0);" onclick="" class="btn_prev">이전</a> -->
                <h1>
                    Filter
                </h1>
                <button class="reset" type="button" onclick="selectAcnoCall('WTCH');">reset</button>
            </header>
        </div>
    </div>
</body>
</html>
