<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../resources/css/lib/default.css">

    <script type="text/javascript" src="../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../resources/js/lib/ui.js"></script>
</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <a href="javascript:void(0);" onclick="" class="btn-prev header-btn">이전</a>
            <div class="btn-group header-btn">
                <a href="javascript:void(0)" class="heart">하트</a>
                <a href="javascript:void(0)" class="btn-menu" onclick="openMenu('menuWrap')">메뉴</a>
                <!-- <a href="javascript:void(0)" class="btn-menu_white">메뉴</a> -->
            </div>
        </header>
        <!-- header// -->
        <form>
            <div class="contents-wrap">
                <section>
                    <div class="form-group address">
                        <input type="search" id="search" class="form-control search" placeholder="" aria-label="Search Addresses" aria-describedby="user-search" inputmode="search">
                        <button class="btn btn-search outline-secondary" type="button">검색</button>
                    </div>
                    <div class="form-group filter">
                        <div href="#none" class="filter-img">필터</div>
                        <ul class="filter-group">
                            <li><a href="#none">아파트,오피스텔</a></li>
                            <li><a href="#none">$880K~ $996K</a></li>
                            <li><a href="#none">방 크기(전용면적)</a></li>
                        </ul>
                    </div>
                    <div class="form-group filter">
                        <div terms-pop="lyPullPop02" class="filter-img">필터</div>
                        <ul class="filter-group after on" tabindex="1" >
                            <li class="option" onclick="openPopupUp('selBox2');">아파트,오피스텔</li>
                            <li class="option" onclick="openPopupUp('selBox2');">$880K~ $996K</li>
                            <li class="option" onclick="openPopupUp('selBox2');">방 크기(전용면적)</li>
                        </ul>
                    </div>
                </section>
            </div>
        </form>
        <div class="bottom-menu-area">
            <ul class="bottom-menu-list">
                <li class="home on"><a href="#none">Home</a></li>
                <li class="search"><a href="#none">Search</a></li>
                <li class="save"><a href="#none">Save</a></li>
                <li class="my"><a href="#none" onclick="openMenu('menuWrap')">My</a></li>
            </ul>
        </div>
    </div>
</body>
<div id="lyPullPop02" class="layerpopup laypop-all">
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">filter</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>

        <div class="pop-con-wrap" id="">
            <div class="default-wrap">
                <section class="filter">
                    <div class="custom_slide_wrap">
                        <div class="swiper-pagination-custom"></div>
                    </div>
                    <div class="swiper-bottom">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <section class="form-wrap section">
                                    <p class="tit">Price range</p>
                                    <div class="form-group check-buttons">
                                        <label for="check-1" class="check-button">
                                            <input type="checkbox" id="check-1" name="terms">
                                            <span class="custom-check"></span>
                                            <span class="filter-txt">List price</span>
                                        </label>
                                        <label for="check-2" class="check-button">
                                            <input type="checkbox" id="check-2" name="terms">
                                            <span class="custom-check"></span>
                                            <span class="filter-txt">Monthly pament</span>
                                        </label>
                                    </div>
                                    <div class="progress-area">
                                        <div class="progress-wrap">
                                            <div class="progress-line">
                                                <div class="progress-bar" style="width:40%;">
                                                    <em class="current">₱ 7,000,000</em>
                                                </div>
                                            </div>
                                            <!-- <ul class="progress-txt">
                                                <li>최근 <span>2023.15.15</span></li>
                                                <li><span>00회차</span>/<span>00개월</span></li>
                                            </ul>
                                            <div class="progress-message">지금까지 잘하고 있어요</div> -->
                                        </div>
                                    </div>
                                </section>
                                <section class="text-group section">
                                    <p class="tit">Calculate your budget</p>
                                    <p class="txt">Find out how much you can comfortably spend on a home</p>
                                </section>
                                <section class="form-wrap">
                                    <p class="tit">Bedrooms</p>
                                    <div class="form-group">
                                        <div class="form-control select" onclick="openPopupUp('lySel')" tabindex="0">
                                            <a href="#none" tabindex="-1"><span>No Min</span></a>
                                        </div>
                                        <div class="form-control select" onclick="openPopupUp('lySel')" tabindex="0">
                                            <a href="#none" tabindex="-1"><span>No Mex</span></a>
                                        </div>
                                    </div>
                                    <p class="tit">Bathrooms</p>
                                    <div class="form-group">
                                        <div class="form-control select" onclick="openPopupUp('lySel')" tabindex="0">
                                            <a href="#none" tabindex="-1"><span>Any</span></a>
                                        </div>
                                    </div>
                                </section>
                                <section class="form-wrap section">
                                    <p class="tit">Price range</p>
                                    <div class="form-group check-buttons column">
                                        <label for="check-1" class="check-button">
                                            <input type="checkbox" id="check-1" name="terms">
                                            <span class="custom-check"></span>
                                            <span class="filter-txt">Houses</span>
                                        </label>
                                        <label for="check-2" class="check-button">
                                            <input type="checkbox" id="check-2" name="terms">
                                            <span class="custom-check"></span>
                                            <span class="filter-txt">Townhomest</span>
                                        </label>
                                        <label for="check-3" class="check-button">
                                            <input type="checkbox" id="check-2" name="terms">
                                            <span class="custom-check"></span>
                                            <span class="filter-txt">Apartment</span>
                                        </label>
                                        <label for="check-4" class="check-button">
                                            <input type="checkbox" id="check-2" name="terms">
                                            <span class="custom-check"></span>
                                            <span class="filter-txt">Condos/Co-ops</span>
                                        </label>
                                    </div>
                                </section>
                            </div>
                            <div class="swiper-slide">
                                <p>슬라이드 2번입니다</p>
                                <p>슬라이드 2번입니다</p>
                            </div>
                            <div class="swiper-slide">
                                <p>슬라이드 3번입니다</p>
                                <p>슬라이드 3번입니다</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <section class="fixed-btn-wrap">
            <div class="btn-wrap">
                <button type="button" class="btn btn-primary">확인했어요</button>
            </div>
        </section>
    </div>
</div>

</html>