<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../resources/css/lib/default.css">
    <link rel="stylesheet" href="../resources/css/lib/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="../resources/css/lib/new_renewal.css"> -->

    <script type="text/javascript" src="../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/lib/default.js"></script>
    <!-- <script type="text/javascript" src="../resources/js/lib/ui.js"></script> -->
</head>
<style>
    /* 스타일은 가져가는 거 아님 */
    .guide { background-color:#ffffff ; }
    .guide > h2 {padding: 25px 10px 10px; font-weight: 500; font-size: 1rem;}
    /*가져갈 때 클래스 빼서 가져가기*/
    .relative { position: relative; background-color: #ffffff; }
    .black { background-color: #000000; }
    .pd-left { padding-left:20px; }
    .pd-bottom { padding-bottom: 20px; }
</style>
<style>
    /* tab style2 */
    .style2 { display: flex; justify-content: space-around; background-color: #F0E9FA; }
    .style2 li { margin: 5px; padding: 15px 0; width: calc(100% / 2); border-radius:10px; }
    .style2 li a { display:block; width:100%; color:var(--text02);  ; text-align:center; font-size:var(--font-16); font-weight:600; }
    .style2 li.on { background-color: #B095DC; }
    .style2 li.on a { color:#ffffff; }
</style>

<body>
    <div class="wrap">
        <!-- //header -->
        <div class="guide">
            <h2 style="background-color:#C9C9C9;">· 슬라이딩 </h2>
            <section class="pd-bottom">
                <div class="custom_slide_wrap">
                    <div class="swiper-pagination-custom"></div>
                </div>
                <div class="swiper-bottom pd-left">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>슬라이드 1번입니다</p>
                            <p>슬라이드 1번입니다</p>
                        </div>
                        <div class="swiper-slide">
                            <p>슬라이드 2번입니다</p>
                            <p>슬라이드 2번입니다</p>
                        </div>
                        <div class="swiper-slide">
                            <p>슬라이드 3번입니다</p>
                            <p>슬라이드 3번입니다</p>
                        </div>
                    </div>
                </div>
            </section>
            <h2 style="background-color:#C9C9C9;">· select tab </h2>
            <section class="pd-bottom">
                <div class="tab">
                    <ul class="tab-item">
                        <li class="on" data-tab="tab-cont01"><a href="javascript:void(0);" title="선택됨">Overview</a></li>
                        <li data-tab="tab-cont02" class=""><a href="javascript:void(0);">Local Info</a></li>
                        <li data-tab="tab-cont03" class=""><a href="javascript:void(0);">Features</a></li>
                    </ul>
                    <div id="tab-cont01" class="tab-content">
                        <div class="form-wrap section pd-left">
                            <p class="tit">Price range</p>
                            <div class="text-group section">
                                <p class="txt">This condo is located at 14651 Philipine #5301, Houston, TX. (ZIP code 77040)
                                </p>
                                <p class="txt">This property has 2 bedrooms, 2bathrooms and approximately 1,200 sqft of floor space.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab-cont02" class="tab-content dp-none">
                        <div class="tab-map"></div>
                        <p class="tit">Description</p>
                        <div class="text-group section pd-left">
                            <p class="txt">This condo is located at 14651 Philipine #5301,
                                Houston, TX. 14651 Philipine #5301 is in Houston,
                                TX and in ZIP code 77040. This property has 2 
                                bedrooms, 2bathrooms and approximately 1,200
                                sqft of floor space.
                            </p>
                        </div>
                    </div>
                    <div id="tab-cont03" class="tab-content dp-none">
                        <div class="form-wrap section pd-left">
                            <p class="tit">Features</p>
                            <div class="text-group section">
                                <p class="txt">This condo is located at 14651 Philipine #5301, Houston, TX. 14651 Philipine #5301 is in Houston, TX and in ZIP code 77040.
                                </p>
                                <p class="txt">This property has 2 bedrooms, 2bathrooms and approximately 1,200 sqft of floor space.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h2 style="background-color:#C9C9C9;">· div 안에 tab </h2>
            <section class="pd-bottom">
                <div class="tab">
                    <ul class="style2">
                        <li class="on" data-tab="tab-cont04"><a href="javascript:void(0);" title="선택됨">Overview</a></li>
                        <li data-tab="tab-cont05" class=""><a href="javascript:void(0);">Local Info</a></li>
                    </ul>
                    <div id="tab-cont04" class="tab-content">
                        <div class="form-wrap section pd-left">
                            <p class="tit">Price range</p>
                            <div class="text-group section">
                                <p class="txt">This condo is located at 14651 Philipine #5301, Houston, TX. (ZIP code 77040)
                                </p>
                                <p class="txt">This property has 2 bedrooms, 2bathrooms and approximately 1,200 sqft of floor space.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tab-cont05" class="tab-content dp-none">
                        <div class="form-wrap section pd-left">
                            <p class="tit">Features</p>
                            <div class="text-group section">
                                <p class="txt">This condo is located at 14651 Philipine #5301, Houston, TX. 14651 Philipine #5301 is in Houston, TX and in ZIP code 77040.
                                </p>
                                <p class="txt">This property has 2 bedrooms, 2bathrooms and approximately 1,200 sqft of floor space.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<script>
    var text = ['For Sale','Local Info','Features'];
    var bottomSwiper = new Swiper('.swiper-bottom', {
        slidesPerView: '1',
        pagination: {
            el: ".swiper-pagination-custom",
            clickable: true,
            bulletClass:"custom_bullet",
            bulletActiveClass: "swiper-pagination-custom-bullet-active",
            renderBullet: function (index, className) {
            return '<div class="'+className+'"><span>'+ (text[index]) +'</span></div>'
            },
        },
        loop: true,
        touchRatio: 0.2,
        observer: true,
        observeParents: true
    });
</script>
</html>
