<!-- s:menuWrap -->
<div class="menuWrap">
	<div class="all-menu-wrap">
		<div class="all-menu-info">
			<div class="all-menu-header">
				<div class="left-menu">
                    <a onclick="" class="btn-menu-close">닫기</a>
				</div>
				<div class="right-menu">
                    <a href="javascript:void(0)" class="heart">하트</a>
                    <a href="javascript:void(0)" class="setting">설정</a>
				</div>
			</div>
			<div class="login-wrap menu login">
				<div class="login-tit user-m-img">
					<p class="tit"><strong>Kate Perry</strong></p>
					<p class="text">kateperrt1004@gmail.com</p>
				</div>
				<!-- <button class="btn logout-text" type="button">로그아웃</button> -->
			</div>
		</div>
		<div class="all-menu-area">
            <ul class="menuArea">
                <li class="on"><a href="#none" data-focus="1" >최근 사용한 메뉴</a></li>
                <li><a href="#none" data-focus="2" >중고차</a></li>
                <li><a href="#none" data-focus="3">재고금융</a></li>
                <li><a href="#none"  data-focus="4">신차</a></li>
                <li><a href="#none"  data-focus="5">일반설비</a></li>
                <li><a href="#none"  data-focus="6">건설기계/상용</a></li>
                <li><a href="#none"  data-focus="7">취급실적조회</a></li>
                <li><a href="#none"  data-focus="8">마이페이지</a></li>
                <li><a href="#none"  data-focus="9">공지사항</a></li>
                <li><a href="#none"  data-focus="10">push 알림</a></li>
                <li><a href="#none"  data-focus="11">금융계산기</a></li>
            </ul>
		</div>
	</div>
</div>
<!-- e:menuWrap -->

<script>
		
/** 전체 메뉴 **/

// menuArea
$(".menuArea > li > a").on("click", function () {
	var $this = $(this).parent("li");
	target = $(this).attr("data-focus");
	$(".menuArea > li").removeClass("on");
	$(".listArea > li").removeClass("on");

	$this.addClass("on");
	$(".listArea > li."+target).addClass("on");

	$(".scroll-wrap").scrollTop(0);
});



// menu open, close
$(document).ready(function() {
  $('.btn-menu').on('click', function() {
    $('#menuWrap').addClass('menu-open');
	  
  });

  $('.btn-menu-close').on('click', function() {
      $('#menuWrap').removeClass('menu-open');
  });
});


</script>
