<!-- s:menuWrap -->
<div class="menuWrap">
	<div class="all-menu-wrap">
		<div class="all-menu-info">
			<div class="all-menu-header">
				<div class="left-menu">
                    <a onclick="" class="btn-menu-close">닫기</a>
				</div>
				<div class="right-menu">
                    <a href="javascript:void(0)" onclick="openPopupUp('lyPullPop02')" class="heart">하트</a>
                    <a href="javascript:void(0)" class="setting">설정</a>
				</div>
			</div>
			<div class="login">
				<a href="#none" class="login-tit user-m-img">
					<div class="tit"><strong>Kate Perry</strong></div>
					<div class="text">kateperrt1004@gmail.com</div>
				</a>
				<!-- <button class="btn logout-text" type="button">로그아웃</button> -->
			</div>
		</div>
		<div class="all-menu-area">
            <ul class="menuArea">
                <li><a href="../../views/post/my_post1.html" data-focus="2" >My post</a></li>
                <li><a href="#none" data-focus="3">FAQ</a></li>
                <li><a href="#none"  data-focus="4">App Setting</a></li>
            </ul>
		</div>
	</div>
</div>
<!-- e:menuWrap -->

<script>
// menu open, close
$(document).ready(function() {
  $('.btn-menu, .btn-menu-white').on('click', function() {
    $('#menuWrap').addClass('menu-open');
	  
  });

  $('.btn-menu-close').on('click', function() {
      $('#menuWrap').removeClass('menu-open');
  });
});


</script>

<div id="lyPullPop02" class="layerpopup laypop-all">
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">Bookmarked Listing
            </h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>

        <div class="pop-con-wrap" id="">
            <div class="default-wrap">
                <section class="list-wrap">
                    <div class="list-group">
                        <ul class="img-list">
                            <li>
                                <img src="../../resources/images/common/image_1.png" alt="방1">
                            </li>
                            <li>
                                <img src="../../resources/images/common/image_2.png" alt="방2">
                            </li>
                        </ul>
                        <p class="list-tit">₱7,000,000</p>
                        <a href="#none" class="btn-set like on">찜</a>
                        <div class="list-txt">
                            <div class="list-sub-tit tooltip-wrap">₱140,000 PSM
                                <div class="info-tooltip">정보</div>
                                <div class="tooltip-txt">
                                    <p>PSM</p>
                                    <p>means ‘per square meter’</p>
                                    <button type="button" class="tooltip-close">닫기</button>
                                </div>
                            </div>
                            <span class="ic-room">2</span>
                            <span class="ic-bathtub">2</span>
                        </div>
                    </div>
                    <div class="list-group">
                        <ul class="img-list">
                            <li>
                                <img src="../../resources/images/common/image_3.png" alt="방1">
                            </li>
                            <li>
                                <img src="../../resources/images/common/image_4.png" alt="방2">
                            </li>
                        </ul>
                        <p class="list-tit">₱7,000,000</p>
                        <a href="#none" class="btn-set like on">찜</a>
                        <div class="list-txt">
                            <div class="list-sub-tit tooltip-wrap">₱140,000 PSM
                                <div class="info-tooltip">정보</div>
                                <div class="tooltip-txt">
                                    <p>PSM</p>
                                    <p>means ‘per square meter’</p>
                                    <button type="button" class="tooltip-close">닫기</button>
                                </div>
                            </div>
                            <span class="ic-room">2</span>
                            <span class="ic-bathtub">2</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
