<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="../../resources/css/lib/new_renewal.css"> -->

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <!-- <script type="text/javascript" src="../../resources/js/lib/ui.js"></script> -->
</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <a href="javascript:void(0);" onclick="" class="btn_prev header-btn">이전</a>
            <div class="btn-group header-btn">
                <a href="javascript:void(0)" class="heart">하트</a>
                <a href="javascript:void(0)" class="btn_menu" onclick="openMenu('menuWrap')">메뉴</a>
                <!-- <a href="javascript:void(0)" class="btn_menu_white">메뉴</a> -->
            </div>
        </header>
        <!-- header// -->
        <form>
            <div class="contents-wrap">
                <section>
                    <div class="form-group address">
                        <input type="search" id="search" class="form-control search" placeholder="" aria-label="Search Addresses" aria-describedby="user-search" inputmode="search">
                        <button class="btn btn-search outline-secondary" type="button">검색</button>
                    </div>
                </section>
                <section>
                    <section class="list-wrap">
                        <div class="list-group">
                            <section>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-image">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="../../resources/images/common/image_1.png" alt="방1">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="../../resources/images/common/image_2.png" alt="방2">
                                        </div>
                                    </div>
                                </div>
                                <p class="list-tit">₱7,000,000</p>
                                <a href="#none" class="btn-set like" id="oftnAcct" onclick="oftnAcct(this);">찜</a>
                                <ul class="list-txt">
                                    <li class="list-sub-tit">2256 Philippine Dr Clearwater, FL 33763</li>
                                </ul>
                                <div class="histroy-box">
                                    <ul class="history-list col3">
                                        <li>
                                            <span class="text">Beds</span>
                                            <p class="num">2</p>
                                        </li>
                                        <li>
                                            <span class="text">Baths</span>
                                            <p class="num">2</p>
                                        </li>
                                        <li>
                                            <span class="text">sqft</span>
                                            <p class="num">1,100</p>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section>
                            </section>
                        </div>
                    </section>
                    <section class="list-tab">
                        <div class="custom_slide_wrap">
                            <div class="swiper-pagination-custom"></div>
                        </div>
                        <div class="swiper-bottom">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <section class="form-wrap section">
                                        <p class="tit">Price range</p>
                                        <div class="text-group section">
                                            <p class="txt">This condo is located at 14651 Philipine #5301, Houston, TX. (ZIP code 77040)
                                            </p>
                                            <p class="txt">This property has 2 bedrooms, 2bathrooms and approximately 1,200 sqft of floor space.
                                            </p>
                                        </div>
                                    </section>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tab-map"></div>
                                    <p class="tit">Description</p>
                                    <div class="text-group section">
                                        <p class="txt">This condo is located at 14651 Philipine #5301,
                                            Houston, TX. 14651 Philipine #5301 is in Houston,
                                            TX and in ZIP code 77040. This property has 2 
                                            bedrooms, 2bathrooms and approximately 1,200
                                            sqft of floor space.
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <p>슬라이드 3번입니다</p>
                                    <p>슬라이드 3번입니다</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </form>
    </div>
</body>
<div id="selBox2" class="layerpopup laypop-all show" >
    <div class="content-wrap">
        <div class="pop-header"><span>Filter</span></div>
        <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        <div class="ly-scroll-con ly-select">
            <ul class="ly-select-list">
                <!-- <li><button type="button">아파트</button></li>[D] 클래스 active 추가 시 활성화 스타일 노출
                <li><button type="button">오피스텔</button></li>
                <li><button type="button">주택</button></li> -->
            </ul>
        </div>
    </div>
</div>
<script>
    var text = ['Overview','Local Info','Features'];
    var bottomSwiper = new Swiper('.swiper-bottom', {
        slidesPerView: '1',
        pagination: {
            el: ".swiper-pagination-custom",
            clickable: true,
            bulletClass:"custom_bullet",
            bulletActiveClass: "swiper-pagination-custom-bullet-active",
            renderBullet: function (index, className) {
            return '<div class="'+className+'"><span>'+ (text[index]) +'</span></div>'
            },
        },
        allowTouchMove : false,
        loop: true,
        touchRatio: 0.2,
        observer: true,
        observeParents: true
    });

    var Swiper = new Swiper('.swiper-image', {
        slidesPerView: 1,
        centeredSlides: true,
        pagination: {
            el: '.swiper-pagination',
            type: 'fraction',
        },
        virtual: {
            slides: (function () {
            const slides = [];
            for (var i = 0; i < 2; i += 1) {
                slides.push('Slide ' + (i + 1));
            }
            return slides;
            })(),
        },
    });
</script>
</html>